@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0f172a; /* slate-900 */
}

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-slate-900 text-slate-100;
}

.container-page {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

input[type="date"] {
  background-color: #111827; /* dark bg */
  color: white;
  border: 1px solid #374151;
  border-radius: 8px;
  padding: 0.75rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* makes the icon white */
  cursor: pointer;
}

input[type="time"] {
  background-color: #111827; /* dark bg */
  color: white;
  border: 1px solid #374151;
  border-radius: 8px;
  padding: 0.75rem;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* makes the icon white */
  cursor: pointer;
}
